@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: #000;
  background: #fff;

  --main: #131e42;
  --sec: #c80815;

  width: 100vw;
  overflow-x: hidden;
}

* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}

/* ---------------globe */
.globe {
  background: linear-gradient(to bottom, #fff, #ffffff00);
}

.absCenter {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* just a comment */

.rotateCenter {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation-duration: 20s;
  animation: rotate infinite linear; /* Applying the rotate animation infinitely */
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.waveCenter {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: wave infinite linear 4s;
}

@keyframes wave {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(1.8);
    opacity: 0;
  }
}

img {
  object-fit: contain;
}
